.main {
  padding: 2rem 0;
}

.card-grids {
  transform: translate(-50%, -50%);
  perspective: 1000px;
  max-width: 10%;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.restaurent-card {
  width: 40vw;
  height: 300px;
  background: #fff;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 1s;
  display: flex;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  background: linear-gradient(100deg, rgb(255, 255, 255) 40%, #a3e4d7 0);
}
.left-card {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-card img {
  width: 80%;
}

.left h4 {
  font-size: 18px;
  letter-spacing: 1px;
}

.right-card {
  width: 60%;
  color: #fff;
}

.right-contents {
  display: flex;
  align-items: center;
}

.title-card {
  background-color: #ff8c8c;
  padding: 5px 0 5px 30px;
  margin: 10px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.IoFastFoodOutline {
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a3e4d7;
  margin-right: 20px;
}

.FaPhoneAlt {
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a3e4d7;
  margin-right: 20px;
}

.GoLocation {
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a3e4d7;
  margin-right: 20px;
}

.phone {
  padding-left: 30px;
}

.adresse {
  padding-left: 30px;
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back img {
  width: 50%;
}

.card-grids:hover .restaurent-card {
  transform: rotateY(180deg);
  box-shadow: 0 0.5rem 1rem #d1d9e6;
}

.BiDetail {
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a3e4d7;
  margin-right: 20px;
}
